cachetools==5.3.3
certifi==2023.11.17
charset-normalizer==3.3.2
google-auth==2.29.0
google-auth-oauthlib==1.2.0
gspread==6.1.0
gspread-dataframe==3.3.1
idna==3.6
nba_api==1.4.1
numpy==1.26.4
oauthlib==3.2.2
pandas==2.2.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
StrEnum==0.4.15
tzdata==2024.1
urllib3==2.2.1
